<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="../../static/" th:href="@{/}">
    <meta charset="UTF-8">
    <title>categoryManagement</title>
    <script src="js/header.js"></script>
    <link href="plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
    <script src="js/footer.js"></script>
    <script src="plugins/bootstrap-table/bootstrap-table.min.js"></script>
</head>
<body>
<div class="container" style="margin-top: 5%">
<!--    <div id="toolbar">-->
<!--        <div class="row">-->
<!--            <div class="col-8">123</div>-->
<!--            <div class="col-4">123</div>-->
<!--        </div>-->
<!--    </div>-->

    <div id="toolbar">
        <div class="btns">
            <a class="btn-primary btn">Add Category</a>
        </div>
<!--        <div class="col-3">-->
<!--            <input class="form-control" type="text" id="searchText" placeholder="search here"/>-->
<!--        </div>-->
    </div>
    <table id="table" data-cache="false">

    </table>
</div>
<script>
    $(function (){
        $('#table').bootstrapTable({
            search:true,
            toolbar:"#toolbar",
            columns: [{
                field: 'id',
                title: 'Category ID'
            }, {
                field: 'name',
                title: 'name'
            }],
            data: [{
                id: 1,
                name: 'Item 1'
            }, {
                id: 2,
                name: 'Item 2'
            }]
        })
    })
</script>
</body>
</html>