<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="../../static/" th:href="@{/}">
    <meta charset="UTF-8">
    <title>Dish Management</title>
    <script src="js/header.js"></script>
    <script src="js/footer.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>
        button{
            background-color: #FFCB62;
        }
    </style>
</head>
<body>


<div id="messageContainer" style="width: 30%;margin-top: 1%;position: fixed;z-index: 1055;margin-left: 35%;top: 0">
    <!--        <div class="alert alert-danger fade" role="alert" style="font-size: 15px">-->
    <!--            Server error-->
    <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
    <!--                <span aria-hidden="true">&times;</span>-->
    <!--            </button>-->
    <!--        </div>-->
</div>
<div id="addContainer" class="modal" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Topping</h5>
            </div>
            <div class="modal-body">
                <div>

                </div>
            </div>
            <div class="modal-footer" style="width: 100%">
                <button type="button" class="btn btn-secondary addBtn" onclick="$('#addContainer').modal('hide')">Close</button>
                <button type="button" class="btn btn-warning addBtn">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 5%">
    <form id="form">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="dishName">Dish name</label>
                <input class="form-control" type="text" name="name" id="dishName" oninput="$(this).siblings('.invalid-feedback').hide();"/>
                <div class="invalid-feedback" id="dishNameFeedback">You must input dish name</div>
            </div>
            <div class="form-group col-md-7">
                <label for="categoryName">Choose category</label>
                <select name="categoryName" class="form-control" id="categoryName" onclick="$(this).siblings('.invalid-feedback').hide();">
                    <option value="123" selected>123</option>
                </select>
                <div class="invalid-feedback" id="categoryNameFeedback">You must select a category</div>
            </div>
<!--            <div class="form-group col-md-4">-->
<!--                <label for="price">Price</label>-->
<!--                <input type="number" name="price" class="form-control" id="price" value="" oninput="$(this).siblings('.invalid-feedback').hide();" />-->
<!--                <div class="invalid-feedback" id="priceFeedback">You must set price</div>-->
<!--            </div>-->
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <button class="btn btn-warning" type="button" onclick="addGroupItem(document.getElementById('sizeAndPrice'))">Add Size</button>
            </div>
        </div>

        <div id="sizeAndPrice">
            <div class="form-row group-item">
                <div class="form-group col-md-4">
                    <input type="number" name="size" class="form-control" placeholder="Input size"/>
                </div>
                <div class="form-group col-md-4">
                    <input type="number" name="price" class="form-control" placeholder="Input price"/>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-warning delete-size" onclick="deleteGroupItem($(this).parents('div.group-item'),document.getElementById('sizeAndPrice'))">Delete</button>
                </div>
            </div>
        </div>
        <div class="form-row" style="height: 5%">
            <input name="img" type="text" hidden/>
            <input id="img-upload" type="file" onchange="chooseFile(this)" accept="image/*" hidden/>
            <div class="form-group col-3">
                <div style="height: 80%;cursor: pointer;width: 100%" onclick="document.getElementById('img-upload').click();">
                    <label for="image-container">Choose image to upload</label>
                    <img id="image-container" src="img/default.jpg" class="img-fluid img-thumbnail"/>
                </div>
            </div>
            <div class="form-group col-4" style="margin-top: 5%">
                <button id="upload-image-btn" type="button" class="btn btn-warning">Upload</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5 input-group">
                <div id="topping-item-container" class="form-control"></div>
            </div>
            <div class="form-group col-4">
                <button class="btn btn-warning" type="button">Add topping</button>
            </div>
<!--            <div class="form-group col-4">-->
<!--                <label for="status">Choose status of dish</label>-->
<!--                <select name="status" id="status" class="form-control">-->
<!--                    <option value="1" selected>Sell</option>-->
<!--                    <option value="0">Hide</option>-->
<!--                </select>-->
<!--            </div>-->
        </div>
        <div class="form-row">
            <div class="form-group col-8">
                <label for="description">description</label>
                <textarea name="description" class="form-control" id="description"></textarea>
            </div>
        </div>
    </form>
    <div class="form-row" style="margin-top: 5px">
        <div class="form-group col-12">
            <button type="button" class="btn btn-warning btn-block submitBtn" id="addDishBtn">
                Save
            </button>
        </div>
    </div>
</div>


<script>

    function addDish(){

        let flavourList = [];


        $.ajax(
            {
                type:"post",
                url:"dish/add",
                data:$("#form").serialize(),
                beforeSend:function (){
                    let canSend = true;
                    let dishName = $("#dishName");
                    let price = $("#price");
                    let categoryName = $("#categoryName");
                    if (isBlank(dishName.val())){
                        dishName.siblings(".invalid-feedback").show();
                        canSend = false;
                    }
                    if (isBlank(price.val())){
                        price.siblings(".invalid-feedback").show();
                        canSend = false;
                    }
                    if (isBlank(categoryName.val())){
                        categoryName.siblings(".invalid-feedback").show();
                        canSend = false;
                    }
                    if (canSend){
                        enableLoadingVideo($(this));
                    }
                    return canSend;
                },
                success:function (result){
                    disableLoadingVideo($(this),"Save");
                    if (result==null||result==undefined){
                        alertUtil.message("Save failed",dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    if (result.code!=1){
                        alertUtil.message(result.message,warningType,document.getElementById("messageContainer"));
                        return;
                    }
                    alertUtil.message("Save success",successType,document.getElementById("messageContainer"));
                },
                error:function (){
                    disableLoadingVideo($(this),"Save");
                }
            }
        )


    }


    function addFlavour(){
        let val = $("#addFlavourInput").val();
        if (isBlank(val)){
            $("#flavourFeedback").show();
            return;
        }
        let spanElement = $("<span class=\"flavour-item\" style=\"background-color: #e2e6ea;cursor: pointer;margin-right: 10px\"><input type='text' name='flavour' value='"+val+"' hidden/>"+val+"<span aria-hidden=\"true\" style='background-color: #e2e6ea' onclick='deleteFlavour(this)' \">&times;</span></span>");
        // "<span class=\"btn-light flavour-item\" style=\"cursor: pointer\"><span aria-hidden=\"true\" class=\"btn-light\">&times;</span></span>"
        $("#flavourList").append(spanElement);
        $("#addFlavourInput")[0].value = '';
        alertUtil.message("success",successType,document.getElementById("messageContainer"))

    }

    function deleteFlavour(item){
        $(item).parent().remove();
    }

    function chooseFile(inputElement){
        let files = inputElement.files;
        let fileReader = new FileReader();

        fileReader.onload = function (e){
            $("#image-container").attr("src",this.result);
        }
        fileReader.onerror = function (e){
            alertUtil.message("Error happen during reading image","danger",$("#messageContainer"));
        }
        fileReader.readAsDataURL(files[0]);

    }
    function addGroupItem(container){
        let itemContent = "<div class=\"form-row group-item\">\n" +
            "                <div class=\"form-group col-md-4\">\n" +
            "                    <input type=\"number\" name=\"size\" class=\"form-control\" placeholder=\"Input size\"/>\n" +
            "                </div>\n" +
            "                <div class=\"form-group col-md-4\">\n" +
            "                    <input type=\"number\" name=\"price\" class=\"form-control\" placeholder=\"Input price\"/>\n" +
            "                </div>\n" +
            "                <div class=\"form-group col-md-4\">\n" +
            "                    <button type=\"button\" class=\"btn btn-warning delete-size\" onclick=\"deleteGroupItem($(this).parents('div.group-item'),document.getElementById('sizeAndPrice'))\">Delete</button>\n" +
            "                </div>\n" +
            "            </div>"
        let item = $(itemContent);
        $(container).append(item);
    }

    function deleteGroupItem(item,container){
        let items = $(container).find(".group-item");
        if (items.length==1){
            alertUtil.message("At least one size is required",warningType,document.getElementById("messageContainer"));
            return;
        }
        $(item).remove();
    }

    $(function (){
        $.ajax(
            {
                type:"get",
                url:"category/query",
                success:function (result){
                    if (result==null||result==undefined){
                        alertUtil.message("Get category failed, try to refresh",dangerType,document.getElementById("messageContainer"));
                    }
                    else {
                        let select = $("select[name='categoryName']");
                        let rows = result.rows;
                        for(let i=0;i<rows.length;i++){
                            select.append("<option value='"+rows[i].categoryName+"'>"+rows[i].categoryName+"</option>");
                        }
                    }
                },
                error:function (){
                    alertUtil.message("Get category failed, try to refresh",dangerType,document.getElementById("messageContainer"));
                }
            }
        );
        $("#addDishBtn").on("click",addDish);

        $("#addFlavourBtn").on("click",function (){
            $('#addContainer').modal({keyboard:true,focus:true,show:true})
        });
        $("#addContainer").on("hide.bs.modal",function (){
            document.getElementById("addFlavourInput").value = '';
        });
        $("#upload-image-btn").on("click",function (){
            let files = document.getElementById("img-upload").files;
            if (files==null||files==undefined||files.length==0){alertUtil.message("You should choose a img file to upload","warning",document.getElementById("messageContainer"));return;}
            let formData = new FormData();
            formData.append("img",files[0]);
            $.ajax({
                type:"post",
                url:"file/img/upload",
                data:formData,
                processData:false,
                contentType:false,
                beforeSend:function (){
                 enableLoadingVideo($("#upload-image-btn"))
                },
                success:function (result){
                    disableLoadingVideo($("#upload-image-btn"),"Upload");
                    if (result==null||result==undefined){
                        alertUtil.message("Upload failed","danger",document.getElementById("messageContainer"));
                    }
                    else if (result.code!=1){
                        alertUtil.message(result.message,"warning",document.getElementById("messageContainer"));
                    }
                    else {
                        alertUtil.message("Upload success","success",document.getElementById("messageContainer"));
                        $("input[name='img']")[0].value = result.data
                    }
                },
                error:function (){
                    disableLoadingVideo($("#upload-image-btn"),"Upload");
                    alertUtil.message("Upload failed","danger",document.getElementById("messageContainer"));
                }
            })

        });
    })
</script>
</body>
</html>