<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation bar</title>
    <link rel="icon" href="../static/img/titlelogo.png" sizes="32x32">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../static/js/jquery-3.6.4.min.js" th:src="@{'/js/jquery-3.6.4.min.js'}"></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/js/SourcePath.js" th:src="@{/js/SourcePath.js}"></script>
</head>
<style>
  .color{
    background-color: #FFBF3D !important;
  }

  a.color:focus,a.color:hover,button.color:focus,button.color:hover{
    background-color:#FFCC51!important
  }



</style>
<body th:style="'background-size: 100% 100%;background-image: url('+@{img/loginBack.jpg}+');background-repeat: no-repeat;background-position: center;background-attachment: fixed'" style="background-size: 100% 100%;background-image: url('../static/img/loginBack.jpg');background-repeat: no-repeat;background-position: center;background-attachment: fixed">
<div id="header" class="fixed-top" >
  <nav class="navbar navbar-expand-lg navbar-light color" style="max-height: 100px" >
    <a class="navbar-brand color" href="#" style="height: 100%;padding: 0 0 ">
      <img src="img/logo.png" alt="logo"  style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Menu</a>
        </li>
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--            Link-->
<!--          </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled">Link</a>-->
<!--        </li>-->
      </ul>
      <form class="d-flex" >
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit" style="width: 130px"><i class="bi bi-search">&nbsp;Search</i> </button>
      </form>
        <div style="">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item dropdown" style="">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Username
                    </a>
                    <ul class="dropdown-menu" >
                        <li><a class="dropdown-item" href="../templates/Order/All orders.html" th:href="@{/templates/Order/All orders.html}"">
                            <i class="bi bi-list">&nbsp&nbsp</i>
                            All Orders</a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-person-lines-fill">&nbsp&nbsp</i>
                            Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-box-arrow-right">&nbsp&nbsp</i>
                            Log out</a></li>
                    </ul>
                </li>
                <div class="brand" href="#" style="width: 40px;height: 40px;overflow: hidden;border-radius: 50%;float:right;box-shadow: 0 4px 8px rgba(0,0,0,.05);z-index: 1;">
                    <img src="img/defaultAvatar.png" alt="Default avatar" style="width: 40px;height: 40px;" >
                </div>

            </ul>
        </div>


      </div>
  </nav>
</div>



</body>

</html>