<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="../../static/" th:href="@{/}">
    <meta charset="UTF-8">
    <title>address</title>
    <script src="js/header.js"></script>
    <link href="plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
    <script src="js/footer.js"></script>
    <link href="font/fonts.css" rel="stylesheet"/>
    <script src="plugins/bootstrap-table/bootstrap-table.min.js"></script>

</head>
<style>
    .color{
        background-color: #FFBF3D !important;
    }

    a.color:focus,a.color:hover,button.color:focus,button.color:hover{
        background-color:#DFB300!important
    }
    table{
        background-color: rgba(255,255,255,50%);
    }

    /*.bigbox{*/
    /*    margin-top: 5%;*/
    /*}*/
     h1{
         font-style: italic;
         font-family: "Monaco",serif;
         color:#FF9D1B;
         text-shadow: 2px 2px 5px orange;
         margin: auto;
         /*position: absolute; left: 50px; top: 5px;*/
     }
     tbody{
         word-wrap: anywhere;
     }

     .btnadd{
         /*margin-top: ;*/
         margin-left: 70%;
         /*margin-top: 5%;*/
     }

     .btndel{
         margin-left: 80%;
     }

     .box{
         width: 100%;
         height: 40%;
     }

     .white{
         color: black;
         background-color: rgba(255,255,255,0.7);
     }

     /*#addadresspage{*/
     /*    display: none;*/
     /*    background-color: white;*/
     /*    border-radius: 25px;*/
     /*    width: 80%;*/
     /*    height: 60%;*/
     /*    position:fixed;*/
     /*    top:20%;*/
     /*    left:10%;*/
     /*}*/
     .pop-page{
         display: none;
         background-color: white;
         border-radius: 25px;
         width: 80%;
         height: 60%;
         position:fixed;
         top:20%;
         left:10%;
     }

    /*#editadresspage{*/
    /*    display: none;*/
    /*    outline-style: solid;*/
    /*    background-color: white;*/
    /*    border-radius: 25px;*/
    /*    width: 80%;*/
    /*    height: 80%;*/
    /*    position:fixed;*/
    /*    top:15%;*/
    /*    left:10%;*/
    /*}*/

     #grey{
         display: none;
         background-color: rgba(0,0,0,0.5);
         width: 100%;
         height: 100%;
         position:fixed;
         top:0%;
         left:0%;
     }

     .name{
         width: 80%;
         /*position: absolute;*/
         /*top: 20%;*/
         left: 8%;
     }

    .mobile{
        width: 80%;
        /*position: absolute;*/
        /*top: 32%;*/
        left: 8%;
    }

    #area{
        width: 80%;
        position: absolute;
        top: 44%;
        left: 8%;
    }

    .full{
        width: 80%;
        height: 100%;
        /*position: absolute;*/
        /*top: 56%;*/
        left: 8%;
    }



</style>
<body style="background-size: 100% 100%;background-image: url('img/loginBack.jpg');background-repeat: no-repeat;background-position: center;background-attachment: fixed">
<div id="messageContainer" style="width: 30%;margin-top: 1%;position: fixed;z-index: 1055;margin-left: 35%;top: 0">

</div>
<div id="header" class="fixed-top" >
    <nav class="navbar navbar-expand-lg navbar-light color" style="height: 50px" >
        <a class="navbar-brand color" href="#">
            <img src="img/logo.png" alt="logo" style="height: 40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div style="">
                <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                    <li class="nav-item dropdown" style="">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Username
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#">
                                <i class="bi bi-list">&nbsp&nbsp</i>
                                Order</a></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="bi bi-person-lines-fill">&nbsp&nbsp</i>
                                Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-right">&nbsp&nbsp</i>
                                Log out</a></li>
                        </ul>
                    </li>
                    <div class="brand" href="#" style="width: 40px;height: 40px;overflow: hidden;border-radius: 50%;float:right;box-shadow: 0 4px 8px rgba(0,0,0,.05);z-index: 1;">
                        <img src="img/defaultAvatar.png" alt="Default avatar" style="width: 40px;height: 40px;" >
                    </div>

                </ul>
            </div>


        </div>
    </nav>
</div>
<div class="row" style="margin-top: 5%;width: 100%;">
    <h1>My delivery address</h1>
</div>
<!--<div class="row" style="margin-left: 60%">-->
<!--    <div class="col-7"><button type="button" class="btn btn-outline-info btnadd" onclick="add_addre()">Add address</button></div>-->
<!--    <div class="col-1"><button type="button" class="btn btn-outline-danger btndel">Delete</button></div>-->
<!--</div>-->
<div id="toolbar">
    <button type="button" class="btn btn-outline-info" id="addContainer">Add address</button>
    <button type="button" class="btn btn-outline-danger" id="deleteAddressBtn">Delete</button>
</div>


<div class="main" style="width: 80%; margin-left: 10%">

<!--    <div class="alert alert-info" role="alert">-->
<!--        All address are selected—check it out!-->
<!--    </div>-->

        <table id="address-table">
<!--            <tr><td><input type="checkbox" name="running" class="form-control" value="" checked/></td> <td><div class="box white border" style="margin-left: 10%">name: shenzhuoyi<br>telephone: 19842732346<br>address: sodijfowijekjlaksdjfosiejfjlskdjfoiejf lasjdfjwiejlkalisjefiej lajjeijfaije</div></td> <td><button type="button" class="btn btn-primary" onclick="editpass()">Edit</button></td></tr>-->
<!--            <tr><td><input type="checkbox" name="running" class="form-control" value="" checked/></td> <td><div class="box white border" style="margin-left: 10%">name: shenzhuoyi<br>telephone: 19842732346<br>address: sodijfowijekjlaksdjfosiejfjlskdjfoiejf sljeifjaiewifij alsejfiojivjals</div></td> <td><button type="button" class="btn btn-primary" onclick="editpass()">Edit</button></td></tr>-->
<!--            <tr><td><input type="checkbox" name="running" class="form-control" value="" checked/></td> <td><div class="box white border" style="margin-left: 10%">name: shenzhuoyi<br>telephone: 19842732346<br>address: odijfowijekjlaksdjfosiejfjlskdjfoiejf ksheuoiajwei alsejfailjijvijlwjeifjaiwpeijilnsldfjwoiejofijaisjdfsd</div></td> <td><button type="button" class="btn btn-primary" onclick="editpass()">Edit</button></td></tr>-->
<!--            <tr><td><input type="checkbox" name="running" class="form-control" value="" checked/></td> <td><div class="box white border" style="margin-left: 10%">name: shenzhuoyi<br>telephone: 19842732346<br>address: sodijfowijekjlaksdjfosiejfjlskdjfoiejf sljeifjaiewifij alsejfiojivjals</div></td> <td><button type="button" class="btn btn-primary" onclick="editpass()">Edit</button></td></tr>-->
<!--            <tr><td><input type="checkbox" name="running" class="form-control" value="" checked/></td> <td><div class="box white border" style="margin-left: 10%">name: shenzhuoyi<br>telephone: 19842732346<br>address: odijfowijekjlaksdjfosiejfjlskdjfoiejf ksheuoiajwei alsejfailjijvijlwjeifjaiwpeijiln</div></td> <td><button type="button" class="btn btn-primary" onclick="editpass()">Edit</button></td></tr>-->
<!--            <tr><td><input type="checkbox" name="running" class="form-control" value="" checked/></td> <td><div class="box white border" style="margin-left: 10%">name: shenzhuoyi<br>telephone: 19842732346<br>address: sodijfowijekjlaksdjfosiejfjlskdjfoiejf sljeifjaiewifij alsejfiojivjals</div></td> <td><button type="button" class="btn btn-primary" onclick="editpass()">Edit</button></td></tr>-->
<!--            <tr><td><input type="checkbox" name="running" class="form-control" value="" checked/></td> <td><div class="box white border" style="margin-left: 10%">name: shenzhuoyi<br>telephone: 19842732346<br>address: odijfowijekjlaksdjfosiejfjlskdjfoiejf ksheuoiajwei alsejfailjijvijlwjeifjaiwpeijiln</div></td> <td><button type="button" class="btn btn-primary" onclick="editpass()">Edit</button></td></tr>-->
        </table>

</div>

<script type="text/javascript">

    function editFormatter(value,row,index,field){
        let id = row.id;
        if (isBlank(id)){
            id = -1;
        }
        let onclickStr = "editpass("+id+",this)";
        let str = "<button class='btn btn-warning' onclick="+onclickStr+">edit</button>";
        return str;
    }
    function deleteAddress(){
        let $table = $("#address-table");
        let selections = $table.bootstrapTable("getSelections");
        let ids = [];
        for(let i in selections){
            ids.push(parseInt(selections[i].id));
        }
        $.ajax(
            {
                url:"user/address/delete",
                type:"post",
                contentType:"application/json",
                data:JSON.stringify(ids),
                beforeSend:function (){
                    if (ids.length<1){
                        alertUtil.message("You should choose at least one address to delete",warningType,document.getElementById("messageContainer"));
                        return false;
                    }
                    return true;
                },
                success:function (result){
                    if (result==null||result==undefined||result.code==undefined||result.code==null){
                        alertUtil.message("Delete error",dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    if (result.code!=1){
                        alertUtil.message(result.message,dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    alertUtil.message(result.message,successType,document.getElementById("messageContainer"));
                    $table.bootstrapTable("refresh");
                },
                error:function (){
                    alertUtil.message("Delete error",dangerType,document.getElementById("messageContainer"));
                }

            }
        )
    }

    function removeFormInput($form){
        let inputs = $form.find("input");
        for(let i in inputs){
            inputs[i].value = "";
        }
        let location = $form.find("textarea");
        for(let i in location){
            location[i].value = "";
        }
    }

    function addAddress(){
        let $form = $("#add-addresss-form");
        let $btn = $(this);
        $.ajax(
            {
                type:"post",
                url:"user/address/add",
                data:$form.serialize(),
                beforeSend:function (){
                    let contact = $form.find("input[name='contact']");
                    let canSend = true;
                    if (isBlank(contact.val())){
                        canSend = false;
                        contact.siblings("div.invalid-feedback").show();
                    }
                    let phone = $form.find("input[name='phone']");
                    if (isBlank(phone.val())){
                        canSend = false;
                        phone.siblings("div.invalid-feedback").show();
                    }
                    let location = $form.find("textarea[name='location']");
                    if (isBlank(location.val())){
                        canSend = false;
                        location.siblings("div.invalid-feedback").show();
                    }
                    if (canSend){
                        enableLoadingVideo($btn);
                    }
                    return canSend;
                },
                success:function (result){
                  disableLoadingVideo($btn,"Add");
                    if (result==null||result==undefined||result.code==undefined||result.code==null){
                        alertUtil.message("Delete error",dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    if (result.code!=1){
                        alertUtil.message(result.message,dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    alertUtil.message(result.message,successType,document.getElementById("messageContainer"));
                    $("#address-table").bootstrapTable("refresh");
                    hidePopWin($("#addadresspage"),$("#grey"));
                    removeFormInput($form);

                },
                error:function (){
                    disableLoadingVideo($btn,"Add");
                    alertUtil.message("Add failed",dangerType,document.getElementById("messageContainer"));
                }
            }
        )
    }

    function editAddress(){
        let $form = $("#edit-addresss-form");
        let $btn = $(this);
        $.ajax(
            {
                type:"post",
                url:"user/address/edit",
                data:$form.serialize(),
                beforeSend:function (){
                    let contact = $form.find("input[name='contact']");
                    let canSend = true;
                    if (isBlank(contact.val())){
                        canSend = false;
                        contact.siblings("div.invalid-feedback").show();
                    }
                    let phone = $form.find("input[name='phone']");
                    if (isBlank(phone.val())){
                        canSend = false;
                        phone.siblings("div.invalid-feedback").show();
                    }
                    let location = $form.find("textarea[name='location']");
                    if (isBlank(location.val())){
                        canSend = false;
                        location.siblings("div.invalid-feedback").show();
                    }
                    if (canSend){
                        enableLoadingVideo($btn);
                    }
                    return canSend;
                },
                success:function (result){
                    disableLoadingVideo($btn,"Add");
                    if (result==null||result==undefined||result.code==undefined||result.code==null){
                        alertUtil.message("Delete error",dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    if (result.code!=1){
                        alertUtil.message(result.message,dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    alertUtil.message(result.message,successType,document.getElementById("messageContainer"));
                    $("#address-table").bootstrapTable("refresh");
                    hidePopWin($("#editadresspage"),$("#grey"));
                    removeFormInput($form);
                },
                error:function (){
                    disableLoadingVideo($btn,"Add");
                    alertUtil.message("Add failed",dangerType,document.getElementById("messageContainer"));
                }
            }
        )
    }


    $(function (){


        $("#addContainer").click(add_addre);
        $("#deleteAddressBtn").click(deleteAddress);
        $("#addAddressBtn").click(addAddress);
        $("#address-edit-btn").click(editAddress);
        let $form = $("#add-addresss-form");
        $form.find("input").on("input",function (){
            $(this).siblings("div.invalid-feedback").hide();
        })
        $form.find("textarea[name='location']").on("input",function (){
            $(this).siblings("div.invalid-feedback").hide();
        })
        $form = $("#edit-addresss-form");
        $form.find("input").on("input",function (){
            $(this).siblings("div.invalid-feedback").hide();
        })
        $form.find("textarea[name='location']").on("input",function (){
            $(this).siblings("div.invalid-feedback").hide();
        })
        $("#address-table").bootstrapTable(
            {
                toolbar:"#toolbar",
                cardView:true,
                url:"user/address/query",
                columns:[
                    {
                        checkbox:true
                    },
                    {
                        field:"contact",
                        title:"Contact"
                    },
                    {
                        field:"phone",
                        title:"Phone"
                    },
                    {
                        field:"location",
                        title:"Address",
                    },
                    {
                        title:"operation",
                        formatter:editFormatter
                    }
                ],
            }
        )
    })


    function add_addre(){
        var pop = document.getElementById("addadresspage");
        pop.style.display = "block";
        var pop1 = document.getElementById("grey");
        pop1.style.display = "block";
    }

    function editpass(id,btn){
        let $form = $("#edit-addresss-form");
        let $btn = $(btn);
        let $parent = $($btn.parents("div.card-views")[0]);
        let $divs = $parent.children("div.card-view");
        $form.find("input[name='contact']").val($($divs[1]).children("span.card-view-value").text());
        $form.find("input[name='phone']").val($($divs[2]).children("span.card-view-value").text());
        $form.find("textarea[name='location']").val($($divs[3]).children("span.card-view-value").text());
        $form.find("input[name='id']").val(id);
        $("#grey").show();
        $("#editadresspage").show();
    }
    function exit(){
        var exit = document.getElementById("addadresspage");
        exit.style.display = "none"
        var exit1 = document.getElementById("grey");
        exit1.style.display = "none";
    }

    function hidePopWin($element,$background){
        $element.hide();
        $background.hide();
    }

    function exit1(){
        var exit = document.getElementById("editadresspage");
        exit.style.display = "none"
        var exit1 = document.getElementById("grey");
        exit1.style.display = "none";
    }
</script>

<div id="grey">

</div>

<div id="addadresspage" class="pop-page">
    <div style="margin-top: 2%; margin-left: 3%;display: flex">
        <div style="margin-right: 2%"><button type="button" class="btn btn-secondary" onclick="hidePopWin($('#addadresspage'),$('#grey'));removeFormInput($('#add-addresss-form'))"><</button></div>
        <div id="qwe">
            <h3 style="color: #F7930F">Add address</h3>
        </div>
    </div>
    <form id="add-addresss-form" style="margin-top: 4%">
    <div class="input-group mb-3 name">
        <div class="input-group-prepend">
            <span class="input-group-text" >Contact</span>
        </div>
        <input type="text" name='contact' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="invalid-feedback">You must input contact name</div>
    </div>

    <div id="mobile" class="input-group mb-3 mobile">
        <div class="input-group-prepend">
            <span class="input-group-text">Mobile phone number</span>
        </div>
        <input type="text" name="phone" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="invalid-feedback">You must input a phone</div>
    </div>

<!--    <div id="area" class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text" classs="inputGroup-sizing-default">Address</span>-->
<!--        </div>-->
<!--        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">-->
<!--    </div>-->
    <div class="input-group mb-3 full">
        <div class="input-group-prepend">
            <span class="input-group-text">full address</span>
        </div>
        <textarea type="text" name="location" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default"></textarea>
        <div class="invalid-feedback">You must input a addresss</div>
    </div>

        <button type="button" id="addAddressBtn" class="btn btn-warning" style="width: 15%;margin-left:42.5%;margin-top: 2%">
            Add
        </button>
    </form>

    <!-- Button trigger modal -->

    <!-- Modal -->
<!--    <div class="modal fade" id="exampleModalCenter" style="position: absolute; top: 30%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalCenterTitle">Check!</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    These address information will be saved!-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<div id="editadresspage" class="pop-page">
    <div style="margin-top: 2%; margin-left: 3%;display: flex">
        <div style="margin-right: 2%"><button type="button" class="btn btn-secondary" onclick="hidePopWin($('#editadresspage'),$('#grey'));removeFormInput($('#edit-addresss-form'))"><</button></div>
        <div>
            <h3 style="color: #F7930F">Edit address</h3>
        </div>
    </div>
    <form id="edit-addresss-form" style="margin-top: 4%">
        <input name="id" type="number" hidden>
        <div class="input-group mb-3 name">
            <div class="input-group-prepend">
                <span class="input-group-text" >Contact</span>
            </div>
            <input type="text" name='contact' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            <div class="invalid-feedback">You must input contact name</div>
        </div>

        <div class="input-group mb-3 mobile">
            <div class="input-group-prepend">
                <span class="input-group-text">Mobile phone number</span>
            </div>
            <input type="text" name="phone" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            <div class="invalid-feedback">You must input a phone</div>
        </div>

        <!--    <div id="area" class="input-group mb-3">-->
        <!--        <div class="input-group-prepend">-->
        <!--            <span class="input-group-text" classs="inputGroup-sizing-default">Address</span>-->
        <!--        </div>-->
        <!--        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">-->
        <!--    </div>-->
        <div class="input-group mb-3 full">
            <div class="input-group-prepend">
                <span class="input-group-text">full address</span>
            </div>
            <textarea type="text" name="location" class="form-control" aria-label="Default"
                      aria-describedby="inputGroup-sizing-default"></textarea>
            <div class="invalid-feedback">You must input a addresss</div>
        </div>

        <button type="button" id="address-edit-btn" class="btn btn-warning" style="width: 15%;margin-left:42.5%;margin-top: 2%">
            Edit
        </button>
    </form>

    <!-- Modal -->
<!--    <div class="modal fade" id="exampleModalCenter1" style="position: absolute; top: 30%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalCenterTitle1">Check!</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    These address information will be saved!-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>






</body>

</html>