<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <base href="../static/" th:href="@{/}">
  <meta name="author" content="Kodinger">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Register</title>
  <link rel="icon" href="../static/img/titlelogo.png" sizes="32x32">
<!--  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">-->
  <script src="js/header.js"></script>
  <link rel="stylesheet" type="text/css" href="css/my-login.css">
  <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--  <script src="../static/js/jquery-3.6.4.min.js" th:src="@{'/js/jquery-3.6.4.min.js'}"></script>-->
<!--  <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
  <script src="js/footer.js"></script>
  <script src="js/register.js"></script>
  <script src="js/checkFieldUtil.js"></script>
  <script src="js/mailUtil.js"></script>
</head>

<script>
  $(function (){
    $(".feedbackInput").on("input",function (){
      $(this).siblings(".invalid-feedback").hide();
    })
  })
</script>
<body class="my-login-page" th:style="'background-size: 100% 90%;background-image: url('+@{img/backgroundImage1.jpg}+');background-repeat: no-repeat;background-position: center;background-attachment: fixed'" style="background-size: 100% 90%;background-image: url('../static/img/backgroundImage1.jpg');background-repeat: no-repeat;background-position: center;background-attachment: fixed">
<section class="h-100">


  <div id="messageContainer" style="width: 20%;z-index: 5;margin-top: 0.5%;position: absolute;margin-left:40%">
    <!--                <div class="alert alert-danger" role="alert" style="font-size: 15px">-->
    <!--                    Server error-->
    <!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
    <!--                        <span aria-hidden="true">&times;</span>-->
    <!--                    </button>-->
    <!--                </div>-->
  </div>
  <div class="container h-100">
    <div class="row justify-content-md-end h-100">
      <div class="card-wrapper" >
        <div style="margin: 20%">
<!--          <img src="img/logo.jpg" alt="bootstrap 4 login page">-->
        </div>
        <div class="card fat" >
          <div class="card-body" style="overflow-y: scroll;height: 600px">
            <h4 class="card-title">Register</h4>
            <form id="registerForm" class="my-login-validation" novalidate="">
              <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" class="form-control feedbackInput" name="username" placeholder="Only letters and numbers are allowed" required autofocus>
                <div id="usernameFeedback" class="invalid-feedback">
                  What's your name?
                </div>
              </div>


              <div class="form-group">
                <label for="pwd">Password</label>
                <input id="pwd" type="password" class="form-control feedbackInput" name="pwd" placeholder="Only letters and numbers are allowed" required data-eye>
                <div id="pwdFeedback" class="invalid-feedback">

                </div>
              </div>


              <div class="form-group">
                <label for="rpwd">Repeat Password</label>
                <input id="rpwd" type="password" class="form-control feedbackInput" placeholder="consistent with password" required data-eye/>
                <div id="rpwdFeedback" class="invalid-feedback">
                </div>
              </div>

              <div class="form-group">
                <label for="mail">E-Mail Address</label>
                <input id="mail" type="email" class="form-control feedbackInput" name="mail" required/>
<!--                <div class="input-group-append input-group-sm" >-->
<!--                  <button class="btn btn-outline-secondary">send verification code</button>-->
<!--                </div>-->
                <div style="margin-top: 2%">
                  <button id="sendVerificationCodeBtn" type="button" class="btn btn-primary btn-block" style="height: auto;width: auto;background-color: #FFCB62;" onclick="sendVerificationCode(this)">Send Verification Code</button>
                </div>
                <div id="mailFeedback" class="invalid-feedback">
                  Your email is invalid
                </div>
              </div>


              <div class="form-group">
                <label for="verificationCode">Verification Code</label>
                <input class="form-control" id="verificationCode" type="text" name="code" placeholder="If you don't receive code, try 'passcode'"/>
                <div id="verificationCodeFeedback" class="invalid-feedback"></div>
              </div>

<!--              <div class="form-group">-->
<!--                <div class="custom-checkbox custom-control">-->
<!--                  <input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">-->
<!--                  <label for="agree" class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></label>-->
<!--                  <div class="invalid-feedback">-->
<!--                    You must agree with our Terms and Conditions-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

              <div class="form-group m-0">
                <button type="button" onclick="register()" class="submitBtn btn btn-primary btn-block" style="background-color: #FFCB62">
                  Register
                </button>
              </div>
              <div class="mt-4 text-center">
                Already have an account? <a href="../templates/login.html" th:href="@{/login}">Login</a>
              </div>
            </form>
          </div>
        </div>
<!--        <div class="footer">-->
<!--          Copyright &copy; 2017 &mdash; Your Company-->
<!--        </div>-->
      </div>
    </div>
  </div>
</section>



</body>
</html>