<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <base href="../../static/" th:href="@{/}">
    <meta charset="UTF-8">
    <title>ResetPassword</title>
    <script src="js/header.js"></script>
    <link href="plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="font/fonts.css" rel="stylesheet"/>
    <script src="js/footer.js"></script>
    <script src="plugins/bootstrap-table/bootstrap-table.min.js"></script>

</head>
<style>
    body {
        position: relative;
    }

    .color {
        background-color: #FFBF3D !important;
    }

    a.color:focus, a.color:hover, button.color:focus, button.color:hover {
        background-color: #DFB300 !important
    }

    .Big {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 80px;
    }




</style>
<body style="background-size: 100% 100%;background-image: url('img/loginBack.jpg');background-repeat: no-repeat;background-position: center;background-attachment: fixed">

<div id="messageContainer" style="width: 30%;margin-top: 1%;position: fixed;z-index: 1055;margin-left: 35%;top: 0">

</div>

<div id="header" class="fixed-top" >
    <nav class="navbar navbar-expand-lg navbar-light color" style="max-height: 100px" >
        <a class="navbar-brand color" href="#" style="height: 100%;padding: 0 0 ">
            <img src="img/logo.png" alt="logo"  style="height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="admin/index" sec:authorize="hasRole('admin')">Admin</a>
                </li>
            </ul>
            <div style="">
                <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                    <li class="nav-item dropdown" style="">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            [(${userName})]
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="order/all" th:href="@{/order/all}">
                                <i class="bi bi-list">&nbsp&nbsp</i>
                                All Orders</a></li>
                            <li><a class="dropdown-item" href="user/profile">
                                <i class="bi bi-person-lines-fill">&nbsp&nbsp</i>
                                Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="logout">
                                <i class="bi bi-box-arrow-right">&nbsp&nbsp</i>
                                Log out</a></li>
                        </ul>
                    </li>
                    <div class="brand" href="#" style="width: 40px;height: 40px;overflow: hidden;border-radius: 50%;float:right;box-shadow: 0 4px 8px rgba(0,0,0,.05);z-index: 1;">
                        <img src="img/defaultAvatar.png" alt="Default avatar" style="width: 40px;height: 40px;" >
                    </div>

                </ul>
            </div>


        </div>
    </nav>
</div>

<div class="Big">

    <section class="h-100">
        <div class="container h-100">
            <div class="row h-100 justify-content-center" >
                <div style="width: 50%">
                    <div style="margin: 20%"></div>
                    <div class="card fat">
                        <div class="card-body">
                            <h3 class="card-title">Pay</h3>
                            <hr class="dropdown-divider" style="border-top: 1px solid; ">
                            <form id="pay-form" class="my-login-validation" novalidate="" style="margin-top: 20px">
                                <input name="orderId" th:value="${orderId}" hidden/>
                                <div class="form-group">
                                    <span class="form-control" readonly>$ [(${price})]</span>
                                </div>
                                <div class="form-group m-0">
                                    <button type="button" id="pay-btn" class="btn btn-primary btn-block submitBtn" style="background-color: #FFCB62">
                                        Pay
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script>
    $(function (){
        $("#pay-btn").click(function (){
            let $form = $("#pay-form");
            let $btn = $(this);
            let html = $btn.text();
            $.ajax(
                {
                    type:"post",
                    url:"pay/order",
                    data:$form.serialize(),
                    beforeSend:function (){
                        let id = $form.find("input[name='orderId']").val();
                        if (isNaN(id)){
                            alertUtil.message("Order id error",warningType,document.getElementById("messageContainer"));
                            return false;
                        }
                        enableLoadingVideo($btn);
                    },
                    success:function (result){
                        disableLoadingVideo($btn,html);
                        $btn[0].disabled = true;
                        if (result.code!=1){
                            alertUtil.message(result.message==null?"Pay failed":result.message,dangerType,document.getElementById("messageContainer"));
                            return;
                        }
                        window.location.href = "order/info?orderId="+$form.find("input[name='orderId']").val();
                    },
                    error:function (){
                        disableLoadingVideo($btn,html);
                        alertUtil.message("Pay failed",warningType,document.getElementById("messageContainer"));
                    }
                }
            )
        })
    })
</script>

</body>
</html>