<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <base href="../../static/" th:href="@{/}">
    <meta charset="UTF-8">
    <title>Payment Page</title>
  <script src="js/header.js"></script>
  <script src="js/footer.js"></script>
    <link rel="stylesheet" href="font/fonts.css">
</head>

<style>
    .color{
        background-color: #FFBF3D !important;
    }

    a.color:focus,a.color:hover,button.color:focus,button.color:hover{
        background-color:#DFB300!important
    }

    #recommendationSection{
        background-color: #FFFFFF;
        border-radius: 25px;
        opacity: 0.8;
        width: 42.5%;
        height: 45%;
        position: absolute;
        left: 5%;
        top: 10%;
    }

    #timeSection{
        background-color: #FFFFFF;
        border-radius: 25px;
        opacity: 0.8;
        width: 42.5%;
        height: 10%;
        position: absolute;
        left: 5%;
        top: 60%;
        display: block;
    }

    #couponSection{
        background-color: #FFFFFF;
        border-radius: 25px;
        opacity: 0.8;
        width: 42.5%;
        height: 20%;
        position: absolute;
        left: 5%;
        top: 75%;
    }
    .divider{
        width: 100%;
        border: solid;
        margin-top: 5%;
    }

    #paymentDetailSection {
        background-color: #FFFFFF;
        border-radius: 25px;
        opacity: 0.8;
        width: 42.5%;
        height: 85%;
        position: absolute;
        right: 5%;
        top: 10%;
    }

    #recommendationPage {
        display: none;
        background-color: #5785ff;
        border-radius: 25px;
        width: 60%;
        height: 80%;
        position: relative;
        right: 20%;
        top: 12.5%;
    }

    #timePage {
        display: none;
        background-color: #FFFFFF;
        border-radius: 25px;
        width: 40%;
        height: 80%;
        position: absolute;
        right: 30%;
        top: 12.5%;
    }

    #timePageMu {
        display: none;
        background-color: #000000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0%;
        top: 0%;
    }

    #functionMore{
        width: 10%;
        height: 10%;
        position: absolute;
        left: 45%;
        top: 85%;
    }


    #functionCloserp{
        border-radius: 25px;
        width: 10%;
        height: 10%;
        position: absolute;
        left: 85%;
        top: 5%;
    }



</style>



<body th:style="'background-size: 100% 100%;background-image: url('+@{img/loginBack.jpg}+');background-repeat: no-repeat;background-position: center;background-attachment: fixed'" style="background-size: 100% 100%;background-image: url('img/loginBack.jpg');background-repeat: no-repeat;background-position: center;background-attachment: fixed">


<div id="messageContainer" style="width: 30%;margin-top: 1%;position: fixed;z-index: 1055;margin-left: 35%;top: 0">
</div>
<div class="modal" id="addressContainer">
    <input type="number" id="deliveryType" th:value="${deliveryType}" hidden>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Choose address</div>
            </div>
            <div class="modal-body">
                    <ul id="address-list" class="list-group" style="height: 90%;overflow-y: scroll;word-wrap: anywhere">
                        <li class="list-group-item list-group-item-action" th:each="address:${addressList}" >
                            <textarea class="address-id" hidden>[(${address.id})]</textarea>
                            <h5>Contact: [(${address.contact})]</h5>
                            <h5>Phone: [(${address.contact})]</h5>
                            <h5>Address: [(${address.contact})]</h5>
                        </li>
                        <li class="list-group-item list-group-item-action" th:each="address:${addressList}">
                            <textarea class="address-id" hidden>[(${address.id})]</textarea>
                            <h5>Contact: [(${address.contact})]</h5>
                            <h5>Phone: [(${address.contact})]</h5>
                            <h5>Address: [(${address.contact})]</h5>
                        </li>
                        <li class="list-group-item list-group-item-action" th:each="address:${addressList}">
                            <textarea class="address-id" hidden>[(${address.id})]</textarea>
                            <h5>Contact: [(${address.contact})]</h5>
                            <h5>Phone: [(${address.contact})]</h5>
                            <h5>Address: [(${address.contact})]</h5>
                        </li>
                        <li class="list-group-item list-group-item-action" th:each="address:${addressList}" onclick="$(this).tab('show')">
                            <textarea class="address-id" hidden>[(${address.id})]</textarea>
                            <h5>Contact: [(${address.contact})]</h5>
                            <h5>Phone: [(${address.contact})]</h5>
                            <h5>Address: [(${address.contact})]</h5>
                        </li>
                        <li class="list-group-item list-group-item-action" th:each="address:${addressList}" onclick="$(this).tab('show')">
                            <textarea class="address-id" hidden>[(${address.id})]</textarea>
                            <h5>Contact: [(${address.contact})]</h5>
                            <h5>Phone: [(${address.contact})]</h5>
                            <h5>Address: [(${address.contact})]</h5>
                        </li>
                        <li class="list-group-item list-group-item-action" th:each="address:${addressList}" onclick="$(this).tab('show')">
                            <textarea class="address-id" hidden>[(${address.id})]</textarea>
                            <h5>Contact: [(${address.contact})]</h5>
                            <h5>Phone: [(${address.contact})]</h5>
                            <h5>Address: [(${address.contact})]</h5>
                        </li>

                    </ul>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="$('#address-list').children('li').removeClass('active');$('#addressContainer').modal('hide')">Close</button>
                <button class="btn btn-warning" onclick="$('#addressContainer').modal('hide')">Select</button>
            </div>
        </div>
    </div>
</div>

<textarea id="shopping-car-str" hidden>[(${shoppingCar})]</textarea>
<script type="text/javascript">
    function popRecommendationPage(){
        var poprp = document.getElementById("recommendationPage");
        poprp.style.display = "block";
    }

    function closeRecommendationPage(){
        var closerp = document.getElementById("recommendationPage")
        closerp.style.display = "none";
    }

    function popTimePage(){
        $("#timePage").show();
        $("#timePageMu").show();
    }

    function closeTimePage(){
        var poptp = document.getElementById("timePage");
        var poptpm = document.getElementById("timePageMu");
        poptp.style.display = "none";
        poptpm.style.display = "none";
    }



</script>

<div id="header" class="fixed-top" >
    <nav class="navbar navbar-expand-lg navbar-light color" style="height: 50px" >
        <a class="navbar-brand color" href="#">
            <img src="img/logo.png" alt="logo" style="height: 40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div style="">
                <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                    <li class="nav-item dropdown" style="">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Username
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#">
                                <i class="bi bi-list">&nbsp&nbsp</i>
                                Order</a></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="bi bi-person-lines-fill">&nbsp&nbsp</i>
                                Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-right">&nbsp&nbsp</i>
                                Log out</a></li>
                        </ul>
                    </li>
                    <div class="brand" href="#" style="width: 40px;height: 40px;overflow: hidden;border-radius: 50%;float:right;box-shadow: 0 4px 8px rgba(0,0,0,.05);z-index: 1;">
                        <img src="img/defaultAvatar.png" alt="Default avatar" style="width: 40px;height: 40px;" >
                    </div>

                </ul>
            </div>
        </div>
    </nav>



</div>

<div id="recommendationSection">
   <div id="recommendationText" style="margin-top:20px;margin-left: 30px;">
       <h5>Recommendations</h5>
   </div>
    <button type="button" id="functionMore" class="btn btn-link" style="font-size:25px;" onclick="popRecommendationPage()">
        More
    </button>
</div>

<div id="paymentDetailSection">
    <div id="shopping-car-items" style="width: 100%;height: 85%;overflow-y: scroll">
        <ul id="shopping-car-item-list" class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <img style="max-width: 100%;max-height: 100%"/>
                    </div>
                    <div class="col-sm-4 item-info">
                        <h5>1</h5>
                        <div>size: </div>
                        <div>111</div>
                        <h5 class="item-price">$ </h5>
                    </div>
                    <div class="col-sm-4 operationContainer">
                    <span style="top:40%;position: absolute;left: 35%">
                        <a class="minus" style="cursor: pointer">
                            <i class="bi bi-dash-circle"></i>
                        </a>
                        <span class="count">1</span>
                        <a class="plus" style="cursor: pointer">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                    </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <span style="width: 100%;background-color: #000000;border-radius: 25px;display: block;margin-top: 10%">
        <span class="btn" style="color: white;cursor: auto;" id="total-price">$ 0</span>
        <span style="float: right">
            <a style="border-radius:25px;float: right" class="btn btn-warning" id="payBtn">Check out</a>
        </span>
    </span>
</div>

<div id="timeSection">
<!--    <div id="timeText" class="row" style="margin-top:3%;margin-left: 30px;color:#000000;">-->
<!--        -->
<!--    </div>-->
    <div class="row" style="left: 5%;height: 100%;">
        <div class="col-4" style="top: 10%">
            <h5 class="btn-lg" style="display: inline-block">
                Meal pick-up time
            </h5>
        </div>
        <div class="col-8" style="top: 10%">
            <button id="selectedPickup" class="btn btn-lg btn-link" onclick="popTimePage()">Now</button>
        </div>
    </div>
</div>

<div id="couponSection">
    <div id="couponText" style="margin-top:40px;margin-left: 30px;color:#000000;">
        <h5>Discount coupons</h5>
    </div>
    <div id="couponsNumber" style="background-color: red;color: #FFFFFF;width:40%;position: absolute;left:4%;top:55%;">
        <h5 id="couponsNumberText">Two coupons can be used</h5>
    </div>
</div>



<div id="recommendationPage">
    <button id="functionCloserp" type="button" class="btn bpolkm;
    0p ghbn-bnhg-yughbtn-outline-dark" onclick="closeRecommendationPage()">
        Back
    </button>
    <div id="rpRecommendations" style="margin-top:2%;margin-left: 3%;">
        <h2>Recommendations</h2>
    </div>
</div>

<div id="timePageMu"></div>
<div id="timePage">
    <div id="tpSelect" style="margin-top:2%;margin-left: 10%;">
        <h2>Select time to pick up your meal</h2>
    </div>
    <div id="timeSelection" style="background-color:#FFFFFF;width:80%;height:64%;position:absolute;left:12.5%;top:10%">

        <div class="row" style="margin-top: 10%">
            <div class="col-8">
                <h2 style="display: inline-block">Now</h2>
            </div>
            <div class="col-4">
                <i class="bi bi-circle pickup-clicker" style="font-size:40px;position:absolute;left:75%;cursor: pointer"></i>
                <i class="bi bi-check-lg pickup-checker" style="display:block;font-size: 40px;position:absolute;left:74.5%;"></i>
                <input type="number" value="0" class="pickup-time" hidden>
            </div>
        </div>

        <div class="divider"></div>
        <div class="row" style="margin-top: 10%">
            <div class="col-8">
                <h2 style="display: inline-block">30 minutes later</h2>
            </div>
            <div class="col-4">
                <i class="bi bi-circle pickup-clicker" style="font-size:40px;position:absolute;left:75%;cursor: pointer" ></i>
                <i class="bi bi-check-lg pickup-checker" style="display:none;font-size: 40px;position:absolute;left:74.5%;"></i>
                <input type="number" value="30" class="pickup-time" hidden>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row" style="margin-top: 10%">
            <div class="col-8">
                <h2 style="display: inline-block">1 Hour later</h2>
            </div>
            <div class="col-4">
                <i class="bi bi-circle pickup-clicker" style="font-size:40px;position:absolute;left:75%;top:8%;cursor: pointer"></i>
                <i class="bi bi-check-lg pickup-checker" style="display:none;font-size: 40px;position:absolute;left:74.5%;top:8%"></i>
                <input type="number" class="pickup-time" value="60" hidden>
            </div>
        </div>

    </div>

    <div id="timeConfirm" style="background-color: #e7ad18;border-radius:25px;width:30%;height: 10%;position:absolute;left: 35%;top:80%;cursor: pointer;" onclick="closeTimePage();confirmPickup()">
        <div id="timeConfirmText" style="position:absolute;left:25%;top:25%">
            <h4>Confirm</h4>
        </div>
    </div>
</div>



<script>

    function confirmPickup(){
        let $container = $("#timeSelection");
        let $times = $container.find(".pickup-checker");
        for(let i in $times){
            if ($times[i].style.display !="none"){
                let str = $($times[i]).parent().siblings("div.col-8").children("h2").text();
                $("#selectedPickup").text(str);
                return;
            }
        }
    }

    function choosePickupTime(){
        $("#timeSelection").find(".pickup-checker").hide();
        let $this = $(this);
        let i = $this.siblings("i");
        i.show();
    }


    function getToppingStr(topping){
        if (typeof topping!="object"){return "";}
        let strList = [];
        for(let i in topping){
            strList.push(i+" X"+topping[i]);
        }
        return strList.join(", ");
    }
    function removeShoppingCarItem(foodItem,$btn,i){
        let countContainer = $($btn.siblings("span.count")[0]);
        let val = parseInt(countContainer.text());
        if (isNaN(val)){
            alertUtil.message("remove failed, try to refresh or remove again",warningType,document.getElementById("messageContainer"));
            return;
        }
        foodItem.count--;
        countContainer.text(foodItem.count);
        countContainer.parents("div.operationContainer").siblings("div.item-info").children("h5.item-price").text("$ "+foodItem.count*foodItem.singlePrice);
        if (foodItem.count<=0){
            renderShoppingCar();
        }
        updatePriceBar();
    }
    function updatePriceBar(){
        let price = 0;
        for(let i in shoppingCar){
            price += shoppingCar[i].count*shoppingCar[i].singlePrice;
        }

        $("#total-price").text("$ "+price);
    }

    function addShoppingCarItem(foodItem,$btn){
        let countContainer = $($btn.siblings("span.count")[0]);
        let val = parseInt(countContainer.text());
        if (isNaN(val)){
            alertUtil.message("remove failed, try to refresh or remove again",warningType,document.getElementById("messageContainer"));
            return;
        }
        foodItem.count++;
        countContainer.text(foodItem.count);
        countContainer.parents("div.operationContainer").siblings("div.item-info").children("h5.item-price").text("$ "+foodItem.count*foodItem.singlePrice);
        updatePriceBar();

    }

    function renderShoppingCar(){
        let $container = $("#shopping-car-item-list");
        $container.children("li").remove();
        $("#total-price").text("$ 0");
        let liPrefix = "<li class='list-group-item'>"
        let liPostfix = "</li>";
        for(let i in shoppingCar){
            if (shoppingCar[i].count<1){continue;}

            let html = "<div class=\"row\">\n" +
                "                    <div class=\"col-sm-4\">\n" +
                "                        <img src='"+shoppingCar[i].img+"' style=\"max-width: 100%;max-height: 100%\"/>\n" +
                "                    </div>\n" +
                "                    <div class=\"col-sm-4 item-info\">\n" +
                "                        <h5>"+shoppingCar[i].dishName+"</h5>\n" +
                "                        <div>size: "+shoppingCar[i].size+"</div>\n" +
                "                        <div>"+getToppingStr(shoppingCar[i].topping)+"</div>\n" +
                "                        <h5 class=\"item-price\">$ "+shoppingCar[i].singlePrice*shoppingCar[i].count+"</h5>\n" +
                "                    </div>\n" +
                "                    <div class=\"col-sm-4 operationContainer\">\n" +
                "                    <span style=\"top:40%;position: absolute;left: 35%\">\n" +
                "                        <a class=\"minus\" style=\"cursor: pointer\">\n" +
                "                            <i class=\"bi bi-dash-circle\"></i>\n" +
                "                        </a>\n" +
                "                        <span class=\"count\">"+shoppingCar[i].count+"</span>\n" +
                "                        <a class=\"plus\" style=\"cursor: pointer\">\n" +
                "                            <i class=\"bi bi-plus-circle\"></i>\n" +
                "                        </a>\n" +
                "                    </span>\n" +
                "                    </div>\n" +
                "                </div>"
            let $html = $(liPrefix+html+liPostfix);
            $container.append($html);
            $html.find("a.minus").click(function (){
                removeShoppingCarItem(shoppingCar[i],$(this),i);
            })
            $html.find("a.plus").click(function (){
                addShoppingCarItem(shoppingCar[i],$(this),i);
            })
        }
        updatePriceBar();
    }

    let shoppingCar = [];

    function selectAddress(){
        $("#addressContainer").modal({backdrop:false});
    }

    function pay(){
        let nonEmptyShoppingCar = [];
        for(let i in shoppingCar){
            if(shoppingCar[i].count<1){
                continue;
            }
            alert(JSON.stringify(shoppingCar[i]))
            nonEmptyShoppingCar.push(shoppingCar[i]);
        }
        let $selected = $(".pickup-checker");
        let selectedVal = 0;
        for(let i =0;i<$selected.length;i++){
            if ($selected[i].style.display !="none"){
                selectedVal = parseInt($($selected[i]).siblings("input").val());
            }
        }
        let deliveryType = parseInt($("#deliveryType").val());
        let addressId = -1;
        if (!isNaN(deliveryType)&&deliveryType==1){
            let address = $("#address-list").children("li.active").children("textarea.address-id").text();
            if (isBlank(address)){selectAddress();return;}
            else {
                addressId = parseInt(address);
            }
        }
        let data = {
            pickupTime:isNaN(selectedVal)?0:selectedVal,
            shoppingCar:nonEmptyShoppingCar,
            addressId:isNaN(addressId)?-1:addressId,
            deliveryType:isNaN(deliveryType)?-1:deliveryType
        };
        let $btn = $(this);
        let html = this.innerHTML;
        $.ajax(
            {
                type:"post",
                url:"order/create",
                contentType:"application/json",
                data:JSON.stringify(data),
                beforeSend:function (){
                    if (data.shoppingCar.length<1){
                        alertUtil.message("Shopping car is empty",warningType,document.getElementById("messageContainer"));
                        return false;
                    }
                    if (data.deliveryType<0){
                        alertUtil.message("address error",warningType,document.getElementById("messageContainer"));
                        return false;
                    }
                    if (data.deliveryType==1&&addressId<1){
                        alertUtil.message("address error",warningType,document.getElementById("messageContainer"));
                        return false;
                    }
                    enableLoadingVideo();
                    return true;
                },
                success:function (result) {
                    disableLoadingVideo($btn,html);
                    if (result==undefined||result==null){
                        alertUtil.message("create order failed",dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                    if (result.code!=1){
                        alertUtil.message(result.message,dangerType,document.getElementById("messageContainer"));
                        return;
                    }
                },
                error:function (){
                    disableLoadingVideo($btn,html);
                    alertUtil.message("create order failed",dangerType,document.getElementById("messageContainer"));
                }
            }
        )

    }
    $(function (){

        $("#address-list").children("li").click(function (){
            let $this = $(this);
            $this.siblings("li").removeClass("active");
            $this.removeClass("active");
            $this.addClass("active");
        })

        $(".pickup-clicker").click(choosePickupTime);
        $("#payBtn").click(pay);
        let shoppingCarStr = $("#shopping-car-str").val();
        if (shoppingCarStr==undefined||shoppingCarStr==null||shoppingCarStr==""){
            return;
        }
        shoppingCar = JSON.parse(shoppingCarStr);
        renderShoppingCar();
    })
</script>

</body>

</html>